<div class="about-section">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center about-title">サイト概要</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center about-description">
        地元の二郎系ラーメン店完全攻略レビューサイト。<br>
        二郎系ラーメン店には注文時の独特なコールがあります。<br>
        全マシマシでお願いします！とは、そんな店舗ごとのルールやコール方法をこのサイトで学び、<br>
        初めて店舗に足を運んでくださった方も気持ちよくコールできるようにという製作者の願いから名付けました。
      </p>
    </div>
  </div>
  <div class="image-gallery">
    <div class="image bgImg src1"></div>
    <div class="image bgImg src2"></div>
    <div class="image bgImg src3"></div>
    <div class="image bgImg src4"></div>
  </div>
</div>